* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

a {
  text-decoration: none;
}

.header {
  background-color: #000;
}
.header .container .menu .nav {
  align-items: center;
}
.header .container .menu .nav li a {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #F7F7F7;
  margin-right: 20px;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header .container .menu .nav li .icon {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  margin-right: 10px;
}
.menu_1 {
  margin: 0 auto;
  max-width: 1280px;
}
.menu_1 ul {
  margin-top: 16px;
}
.menu_1 ul li a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-right: 40px;
}

.carousel {
  height: 530px;
}
.carousel .container .menu ul {
  margin-top: 16px;
}
.carousel .container .menu ul li a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-right: 40px;
}
.carousel .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel .container .content .img {
  width: 821px;
  height: 392px;
  left: 86px;
  top: 5px;
}
.carousel .container .content .img img {
  width: 100%;
}
.carousel .container .content .info {
  width: 291px;
}
.carousel .container .content .info h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
}
.carousel .container .content .info p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 35px;
}
.carousel .container .content .info a {
  width: 150px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: white;
  padding: 13px 35px;
  background-color: #F8B653;
}
.carousel .container .button_carousel button {
  width: 15px;
  height: 15px;
  left: 597px;
  top: 397px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.13);
  margin-right: 23px;
}
.carousel .img_bottom {
  background: url(../img/image6.png);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 1334px;
  height: 393px;
  top: 107px;
}

.productFeature .container h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 65px;
}
.productFeature .container .product_item {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}
.productFeature .container .product_item .item {
  margin: 25px 33px;
  width: 334px;
  left: 99px;
  top: 153px;
  padding: 0 0;
  background: #F8F8F8;
}
.productFeature .container .product_item .item .img {
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 30px;
  width: 220px;
  height: 156px;
}
.productFeature .container .product_item .item .img img {
  object-fit: cover;
  width: 100%;
}
.productFeature .container .product_item .item h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding: 0 23px;
}
.productFeature .container .product_item .item p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #CBC9C9;
  padding: 0 23px;
}
.productFeature .container .product_item .item .footer_pro {
  display: flex;
}
.productFeature .container .product_item .item .footer_pro .buyNow {
  width: 50%;
  height: 64px;
  background: #E1B067;
  text-align: center;
}
.productFeature .container .product_item .item .footer_pro .buyNow a {
  font-weight: 200;
  font-size: 24px;
  line-height: 64px;
  color: #000 !important;
}
.productFeature .container .product_item .item .footer_pro .price {
  text-align: center;
  width: 50%;
  height: 64px;
  font-weight: 600;
  font-size: 24px;
  line-height: 64px;
  background: #DEDDDC;
}

.register .container h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 62px;
}
.register .container form {
  justify-content: space-between;
}
.register .container form .textInput {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 482px;
  height: 51px;
  margin-bottom: 30px;
}
.register .container form .textInput::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #AE18E2;
}
.register .container form .textInput .validation {
  color: red;
}
.register .container form .textInput .validation span {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.register .container form .input {
  border: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000 !important;
}
.register .container form .input:focus {
  outline: 0;
}
.register .container form .right .inputGender,
.register .container form .right h6 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.register .container form .right .inputGender input {
  background: #D9D9D9;
}
.register .container form .right .inputGender input[type=radio]:checked {
  background: #AE18E2;
  border-color: #D9D9D9 !important;
}
.register .container form .right .submit {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFCFC;
  padding: 12px 90px;
  background: #AE18E2;
  border: none;
}

.detailProduct {
  margin: 58px 65px;
}
.detailProduct .container .content .img .imgProduct {
  width: 334px;
  height: 355px;
  background: #F8F8F8;
  text-align: center;
  display: flex;
  align-items: center;
}
.detailProduct .container .content .img .imgProduct img {
  margin: 0 auto;
}
.detailProduct .container .content .infoProduct {
  padding-left: 70px;
}
.detailProduct .container .content .infoProduct .info h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
}
.detailProduct .container .content .infoProduct .info .decs {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 500px;
  color: #140101;
}
.detailProduct .container .content .infoProduct .info .available {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #1ED90E;
}
.detailProduct .container .content .infoProduct .info .size {
  margin-bottom: 17px;
}
.detailProduct .container .content .infoProduct .info .size button {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  padding: 10px;
  color: #1E1D1D;
  border: 0;
  margin-right: 15px;
}
.detailProduct .container .content .infoProduct .info .price {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #FC0303;
}
.detailProduct .container .content .infoProduct .info .quantity {
  margin-bottom: 7px;
}
.detailProduct .container .content .infoProduct .info .quantity button {
  border: 0;
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
}
.detailProduct .container .content .infoProduct .info .quantity button span {
  margin: 0 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #D9D9D9;
}
.detailProduct .container .content .infoProduct .info .quantity span {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 25px;
}
.detailProduct .container .content .infoProduct .info .addCard {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 20px 25px;
  color: #FFF8F8;
  border: 0;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
}

.footer .container {
  max-width: 100%;
  padding: 0 0;
}
.footer .container .top {
  width: 100%;
  background-color: #e2e0e2;
}
.footer .container .bottom {
  width: 100%;
  background-color: #aaa0aa;
}
.footer .container .row {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.footer .container .row div h3 {
  font-weight: 600;
  font-size: 20px;
}
.footer .container .row div ul {
  padding-left: 0;
}
.footer .container .row div ul li {
  list-style: none;
}
.footer .container .row div ul li a {
  color: #000;
}